<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ipdownapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icono_app_ipdownapp_launcher"
        android:label="IPDownApp"
        android:roundIcon="@mipmap/icono_app_ipdownapp_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IPDownApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activitys.DDOSActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activitys.MainActivity"/>
        <activity
            android:name=".activitys.InfoActivity"
            android:exported="false"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:parentActivityName=".activitys.MainActivity" />
        <activity
            android:name=".activitys.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>